# Assignment 1

How many elements are in $A_1 \cup A_2$ if there are 12 elements in A1, 18 elements in A2, and

**a)** $A_1 \cap A_2 = \varnothing$, vi har $12 + 18 = 30$

**b)** $|A_1 \cap A_2 = 1|$, vi har $12 + 18 - 1 = 29$

**c)** $|A_1 \cap A_2 = 6|$, vi har $12 + 18 - 6 = 24$

**d)** $|A_1 \subseteq A_2?|$, vi har $12 + 18 - 12 = 18$

# Assignment 5
Find the number of elements in $A_1 \cup A_2 \cup A_3$ if there
are 100 elements in each set and if

**a)** the sets are pairwise disjoint. (No value is equal): We then have $100 \cdot 3 = 300$

**b)** there are 50 common elements in each pair of sets and
no elements in all three sets: We then have $100 \cdot 3 - 50 \cdot 3 = 150$

**c)** there are 50 common elements in each pair of sets and
25 elements in all three sets: We then have $100 \cdot 3 - 50 \cdot 3 + 25 = 175$

**d)** the sets are equal: We then have $300 \cdot 3 - 100 \cdot 3 + 100 = 100$

# Assignment 9
How many students are enrolled in a course either in calculus, discrete mathematics, data structures, or programming languages at a school if there are 507, 292, 312,
and 344 students in these courses, respectively; 14 in
both calculus and data structures; 213 in both calculus
and programming languages; 211 in both discrete mathematics and data structures; 43 in both discrete mathematics and programming languages; and no student may
take calculus and discrete mathematics, or data structures
and programming languages, concurrently?

We have:

c = 507

dm = 292

ds = 312

p = 344

$c \cap ds = 14$

$c \cap p = 213$

$dm \cap ds = 211$

$dm \cap p = 43$

Now we can write our formula based on theorem 1
![image.png](../../../misc/images/discrete-math/6/5/theorem1.png)
We note that "no student may
take calculus and discrete mathematics, or data structures
and programming languages, concurrently" which means we only need to include the union of two.

In [48]:
507+292+312+344 - (14 + 213 + 211 + 43)

974

# Assignment 11
Find the number of positive integers not exceeding 1000
that are not divisible by 3, 17, or 35.

To do this we will first find the ones that are divisible by 3, 17, or 35.

In [49]:
a = 1000//3 + 1000//17 + 1000//35 - (1000//(3*17) + 1000//(3*35) + 1000//(17* 35)) + 1000//(3*17*35)

In [50]:
1000 - a

610

# Assignment 15
How many bit strings of length eight do not contain six
consecutive 0s?

We know that we have a bit in the form:

00 00 00 00

We now note that we can have:

a = xy 00 00 00

b = 00 00 00 xy

c = x0 00 00 0y

We have four solutions each time which is $4 \cdot 3 = 12$. So now we need to find how many that does not contain six consecutive 0s, we first need to find the total possible states which is $2^8$. But this over counts as we have the same states more time, so we subtract those. We now have:

$a \cap b = 1$

$a \cap c = 2$

$b \cap c = 2$

$a \cap b \cap c = 1$

We can now use the formula:
$$
|A_1 \cup A_2 \cup A_3| = |A_1| + |A_2| + |A_3| - |A_1 \cap A_2| - |A_1 \cap A_3| - |A_2 \cap A_3| + |A_1 \cap A_2 \cap A_3|
$$

In [51]:
12 - 5 + 1

8

We note that it is do not contain six
consecutive 0s?

In [52]:
2**8 - 8

248

# Assignment 23
Write out the explicit formula given by the principle of
inclusionâ€“exclusion for the number of elements in the
union of six sets when it is known that no three of these
sets have a common intersection.

$$
|A_1 \cup A_2 \cup A_3 \cup A_4 \cup A_5 \cup A_6| = |A_1| + |A_2| + |A_3| + |A_4| + |A_5| + |A_6| \newline - |A_1 \cap A_2| - |A_1 \cap A_3| - |A_1 \cap A_4| - |A_1 \cap A_5| - |A_1 \cap A_6|  \newline - |A_2 \cap A_3| - |A_2 \cap A_4| - |A_2 \cap A_5| - |A_2 \cap A_6| - |A_3 \cap A_4| 
\newline - |A_3 \cap A_5| - |A_3 \cap A_6| - |A_4 \cap A_5| - |A_4 \cap A_6| - |A_5 \cap A_6|
$$